
/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f8f9fa; /* Fundo suave */
    color: #343a40; /* Cor do texto principal */
    height: 100vh;
    margin: 0;
    padding: 0;
}

 /* Fotos de Perfil */
 .profile-photo-small {
    width: 40px; /* Tamanho da foto */
    height: 40px; /* Tamanho da foto */
    border-radius: 50%;
    object-fit: cover;
}

/* Parte do perfil */
.profile-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
}

.profile-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Cor do texto */
}

.username {
    margin-left: 10px; /* Espaçamento entre a foto e o nome de usuário */
}
@media (max-width: 768px) {
    .username {
        display: none;
    }
}        

/* Modal */
.modal {
    display: none;
    position: absolute;
    top: 70px; /* PosiÃ§Ã£o vertical do modal */
    right: 10px; /* PosiÃ§Ã£o horizontal do modal */
    width: 200px; /* Largura do modal */
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out; /* AnimaÃ§Ã£o de fade in */
}

.modal-content {
    padding: 20px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    color: #888; /* Cor do Ã­cone de fechar */
    cursor: pointer;
}

.close:hover {
    color: #333; /* Cor do Ã­cone de fechar ao passar o mouse */
}

.modal-link {
    color: #007bff; /* Cor dos links no modal */
    text-decoration: none;
    transition: color 0.3s ease; /* TransiÃ§Ã£o suave da cor do texto */
}

.modal-link:hover {
    color: #0056b3; /* Cor dos links no modal ao passar o mouse */
}

/* AnimaÃ§Ã£o de fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Menu Lateral */
nav.menu-lateral {
    width: 65px;
    height: 100%;
    background-color: #2d3c4b;
    padding: 40px 0 40px 1%;
    box-shadow: 7px 0 0 #46bbdc;
    position: fixed;  /* deixar menu fixado */
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir {
    width: 170px;
}

.bt-expandir {
    width: 100%;
    padding-left: 2px;
}

.bt-expandir > i {
    color: aliceblue;
    font-size: 35px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .3s;
}

ul li.ativo {
    background-color: #46bbdc;
}

ul li.item-menu:hover {
    background-color: #46bbdc;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 7px 1%;
    display: flex;
    margin-bottom: 10px;
    line-height: 20px;
}

ul li.item-menu a .txt-link {
    margin-left: 30px;
    transition: 1.2s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 12px;
    opacity: 1;
}

ul li.item-menu a .icon > i {
    font-size: 20px;
    margin-left: 10px;
}



/* Container Principal */
.container {
    margin-left: 75px;
    padding: 20px;
}

.container h1, .container h2 {
    margin-bottom: 20px;
}

/* Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #46bbdc;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Canvas para o GrÃ¡fico */
canvas {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px;
}